body {
	background-color: #ccf0e8;
	color: #ffffff;
	margin: 20px;
	color: black;
	font-family: 'Indie Flower', cursive;


}

.wrapper {
	background-color: #ffe6e6;
	width: 900px;
	margin: 0 auto;
	padding: 20px;
	background-position: center;

}

h1, h2, h3 { text-align: center;

}

h1 {font-size: 40px;
	
}
h2, h3, p {font-size: 30px;

}


img { 
width: 500px;
margin-left: 195px;

}


#slogan { font-style: italic;
}


#contact {text-align: center;

}



